body {
	text-align: center;
}

img {
  opacity: 0.5;
}

h2 {
  padding-bottom: 2%;
}

form, p {
  text-align: center;
}

#cf {
  position:relative;

}

#cf img {
  position:absolute;
  left:30%;
  top:20%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}