body {
	
}

img {
  opacity: 0.5;
}

#cf {
  position:relative;
  height:100px;
  width:100px;
}

#cf img {
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}